<!DOCTYPE HTML>

 <div class="collapse navbar-collapse" id="navbarSupportedContent15">
  
      <!-- Links -->
      <div class="navbar-nav" style="font-size: large;">
        <a class="nav-link courses" href="/courses/">E-Commerce</a>
        <a class="nav-link products " href="/products/">About</a>
        <a class="nav-link donate" href="/donate/">Portfolios</a>
        <a class="nav-link about" href="/about/">Self-Grades</a>
        <a class="nav-link donate" href="/donate/">Call</a>
    </div>