<!DOCTYPE HTML>
{% extends "template1.html" %}



<html>
  <head>
    <title>Flask Series Project</title>
  </head>
  <body>
  {% block body %}
    <div id="repos" class="screen" style="margin-left: 15%; margin-right: 15%">
        <div style="margin-right: 10%; margin-left: 10%; text-align: center;">
            <h2>Multimedia | Flask Series Project</h2>
        </div>

        </div>
        <div class="repositories" style="margin-left: 15%; margin-right: 15%">
            <div class="row justify-content-center" style="margin-right: 15%;">
                <div class="col-4">
                    <a href="https://github.com/zenxha/e-commerce"><img src="https://gh-card.dev/repos/zenxha/e-commerce.svg"></a>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 2vw">
                <div class="col-10">
                  <iframe frameborder="0" width="99%" height="750px"src="https://docs.google.com/document/d/e/2PACX-1vR6Yt-BDz6p8-27m2hp4vmyufqblA7HZxfxmfByluK8i7o9gBxrdWH6ZX6wHjSuyUExKk0uHrXr6s4Y/pub?embedded=true"></iframe>
                </div>
            </div>
        </div>
  </body>
  {% endblock %}


  {% block background %}
  minHeight: 1825.00,
  minWidth: 0,
  {% endblock %}
</html>
