<!DOCTYPE HTML>
{% extends "template1.html" %}



<html>
  <head>
    <title>Flask Series Project</title>
  </head>
  <body>
  {% block body %}
    <div id="repos" class="screen" style="margin-left: 15%; margin-right: 15%">
        <div style="margin-right: 10%; margin-left: 10%; text-align: center;">
            <h2>Haunted House Sim | Hello Series Project</h2>
        </div>

        <div class="repositories" style="margin-left: 15%; margin-right: 15%">
              <div class="row justify-content-center" style="margin-top: 2vw">
                <div class="col-10">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe width="100%" height="750px" class="embed-responsive-item" src="https://repl.it/@KianKishimoto/HauntedHouseSim?lite=true&amp;outputonly=1"></iframe>
                  </div>
                </div>
            </div>

            <div class="row justify-content-center" style="margin-top: 2vw">
                <div class="col-10">
                  <iframe frameborder="0" width="99%" height="750px"src="https://docs.google.com/document/d/e/2PACX-1vRN3xQW50jzgg7092jmNDU2vW7A76fpHV9DdrPmC3IMvx7ZiXsTt4rjOa_Ch65r_mTN15ba-g0yJksr/pub?embedded=true"></iframe>
                </div>
            </div>

        </div>
        {% endblock %}
  </body>

  {% block background %}
  minHeight: 1700.00,
  minWidth: 0,
  {% endblock %}
</html>