<!DOCTYPE html>
<!-- made by Ridhima Inukurti -->  
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{name}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- made by Chris Rubin -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <h5><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></h5>
          <h5><a class="nav-link" href="#">About</a></h5>
          <h5><a class="nav-link" href="#">Contact</a></h5>
          <h5><a class="nav-link" href="/template1/">Test page </a></h5>
          <h5><a class="nav-link" href="/selfgrade/">Self grade</a></h5>
          <!-- <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>   -->    
          </form>
        </div>
      </div>
    </nav>